@model CourseWork.Models.ChapterEditingViewModel

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

<form asp-area="" asp-controller="Admin" asp-action="TestMarkdown">
    <textarea style="background-color: yellow" asp-for="Text" id="EditingArea"></textarea>
    <button type="submit">Save</button>
</form>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("EditingArea"),
        spellChecker: false,
        toolbar: [{
            name: "bold",
            action: SimpleMDE.toggleBold,
            className: "fa fa-bold btn-info",
            title: "Bold",
        }
	    ],
    });
</script>
